#video-wrap .content{
    top: 30%;
    position: absolute;
    z-index: 100;
    color:#fff;
    width:100%;
    text-align:center;
}

#video-wrap .content h1{
    font-size:4vw;
}

.cta{
    background:red;
    height:100px;
    z-index:0;
}